<div style="position: absolute; width: 100vw; height: 100vh">
  <img id="background-img" height="640" ngSrc="bowser-background.jpg" width="1024">
</div>

<history [originator]="mario"></history>

<main class="main">
  <div id="map-container">
    <img alt="" height="720" id="map-img" ngSrc="Map.png" priority width="768">
    <img alt="" height="50" id="coin" ngSrc="Coin.png" priority width="44">
    <img alt="" height="59" id="gumba" ngSrc="Gumba.png" priority width="47">
    <span class="counter-display" id="coins-display">{{ mario.coins }}</span>
    <span class="counter-display" id="lives-display">{{ mario.lives }}</span>
    <mario #mario></mario>
  </div>
</main>

<router-outlet/>
