$background-width: 768px;
$background-height: 720px;

#background-container {
  position: relative;
  width: $background-width;
  height: $background-height;
  margin: calc((100vh - $background-height) / 2) auto;
  overflow: hidden;
}

#background-img {
  position: absolute;
}

#coin {
  position: absolute;
  top: calc($background-height - 155px);
  left: 300px;
}

#gumba {
  position: absolute;
  top: calc($background-height - 155px);
  left: 500px;
}

#coins-display {
  top: 66px;
  left: 315px;
}

#lives-display {
  top: 64px;
  left: 195px;
}

.counter-display {
  position: absolute;
  font-size: 30px;
  color: white;
  font-weight: bold;
}
